<header>
	<h1>{{ page.title }}</h1>
</header>

<aside class="meta">
	<dl>
		<dt>Publicado em:</dt>
		<dd>{{ page.date | date: '%d/%m/%Y' }}</dd>
		<dt>Tags:</dt>
		<dd>
			{% for tag in page.tags %}
					<a href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag }}-ref">{{ tag }}</a>
			{% endfor %}
		</dd>
	</dl>

	<nav class="paginate">
		<ul>
			{% if page.next %}
			<li class="next">
				<a class="internal" rel="next"  href="{{ page.next.url }}" title="View {{ page.next.title }}">&laquo; {{ page.next.title }}</a>
			</li>
			{% endif %}
			{% if page.previous %}
			<li class="prev">
				<a class="internal" rel="prev"  href="{{ page.previous.url }}" title="View {{ page.previous.title }}">{{ page.previous.title }} &raquo;</a>
			</li>
			{% endif %}
		</ul>
	</nav>
</aside>

<div class="content">
	{{ content }}

	<nav class="share">
		<div class="twitter-tweet"><a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="{{ site.author.twitter }}" data-lang="pt" data-url="{{ site.production_url }}{{ page.url }}">Tweet</a></div>
	</nav>

	<div id="adsense">
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3883919991008738"
		     crossorigin="anonymous"></script>
		<ins class="adsbygoogle"
		     style="display:block; text-align:center;"
		     data-ad-layout="in-article"
		     data-ad-format="fluid"
		     data-ad-client="ca-pub-3883919991008738"
		     data-ad-slot="4954903110"></ins>
		<script>
		     (adsbygoogle = window.adsbygoogle || []).push({});
		</script>

		<script type="text/javascript"><!--
		google_ad_client = "ca-pub-3883919991008738";
		/* blog */
		google_ad_slot = "4202125361";
		google_ad_width = 728;
		google_ad_height = 90;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
	</div>

	{% include JB/comments %}
</div>
